.seccion_button{
  width:280px;
  height:30px;
  background-color:rgb(250,250,250);
  color: black;
  border-radius: 0 0 10px 0;
  box-shadow: 4px 4px 5px rgba(28,41,71,1);
  /* transform: skew(-20deg, 0deg); */
  font-weight: bold;
}

.seccion_button:hover{
  background-color:rgba(28,41,71,1);
  color: white;
}


.button{
  width:50px;
  height:30px;
  background-color:rgb(250,250,250);
  color: black;
  border-radius: 0 0 10px 0;
  box-shadow: 5px 5px 5px rgba(28,41,71,1);
  /* transform: skew(-20deg, 0deg); */
  font-weight: bold;
}