.inputGroup {
  @apply flex border rounded-xl;
  justify-content: space-between;
  align-self: center;
  position: static;
  width: 90%;
  height: 35px;
  margin:  1rem 0 1rem 0
}

.inputText {
  @apply w-full py-4 px-7 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
  justify-items: center;
}

.button {
  @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
  @apply py-2 text-gray-50 text-lg;
}

.button:hover {
  @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
  @apply text-gray-700 border;
}

.button_custom {
  @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200;
}

.icon {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.inputText + * {
  color: #cbd5e1;
}

.inputText:focus + * {
  color: #6366f1;
}
